ProofOfConcept.Web/Service References/AccountService/AccountService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62537/AccountService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62537/AccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62537/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProofOfConcept.WcfService.DataContract" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccountService_GetBalance_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="IAccountService_GetBalance_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_InvokeDeposit_InputMessage">
    <wsdl:part name="parameters" element="tns:InvokeDeposit" />
  </wsdl:message>
  <wsdl:message name="IAccountService_InvokeDeposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvokeDepositResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountService_InvokeWithdraw_InputMessage">
    <wsdl:part name="parameters" element="tns:InvokeWithdraw" />
  </wsdl:message>
  <wsdl:message name="IAccountService_InvokeWithdraw_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvokeWithdrawResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccountService">
    <wsdl:operation name="GetBalance">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/GetBalance" message="tns:IAccountService_GetBalance_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/GetBalanceResponse" message="tns:IAccountService_GetBalance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvokeDeposit">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/InvokeDeposit" message="tns:IAccountService_InvokeDeposit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/InvokeDepositResponse" message="tns:IAccountService_InvokeDeposit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvokeWithdraw">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccountService/InvokeWithdraw" message="tns:IAccountService_InvokeWithdraw_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccountService/InvokeWithdrawResponse" message="tns:IAccountService_InvokeWithdraw_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountService" type="tns:IAccountService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/IAccountService/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeDeposit">
      <soap:operation soapAction="http://tempuri.org/IAccountService/InvokeDeposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvokeWithdraw">
      <soap:operation soapAction="http://tempuri.org/IAccountService/InvokeWithdraw" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountService">
    <wsdl:port name="BasicHttpBinding_IAccountService" binding="tns:BasicHttpBinding_IAccountService">
      <soap:address location="http://localhost:62537/AccountService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>