ProofOfConcept.Web/Service References/AccountService/AccountService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62537/AccountService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProofOfConcept.WcfService.DataContract" />
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProofOfConcept.WcfService.DataContract" minOccurs="0" name="GetBalanceResult" nillable="true" type="q1:RequestResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeDeposit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProofOfConcept.WcfService.DataContract" minOccurs="0" name="transaction" nillable="true" type="q2:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeDepositResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProofOfConcept.WcfService.DataContract" minOccurs="0" name="InvokeDepositResult" nillable="true" type="q3:RequestResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeWithdraw">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProofOfConcept.WcfService.DataContract" minOccurs="0" name="transaction" nillable="true" type="q4:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InvokeWithdrawResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProofOfConcept.WcfService.DataContract" minOccurs="0" name="InvokeWithdrawResult" nillable="true" type="q5:RequestResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>